<h2 class="edit_header1">Delete Project: #escapeCleanHTML($!om.getName())</h2>
<form name="form1" method="post" action="$link.setAction("DeleteProjectData")" ONSUBMIT="return validateForm();">
    <p>Select content to delete from this project. </p>
    <div id="projectDeleteTree">
        <ul>
            <li yuiConfig='{"type":"TaskNode","expanded":true,"ru":"/REST/projects/$om.getId()","redirectHome":true,"canRead":true,"xsiType":"Project","date":"","primary_label":"$om.getId()"}' class="expanded">Delete Entire Project
                <ul>
                    #foreach($sub in $om.getParticipants_participant())
                        <li yuiConfig='{"type":"TaskNode","ru":"/REST/projects/$om.getId()/subjects/$sub.getId()" #if($sub.canRead($user)),"canRead":true#else,"canRead":false#end,"xsiType":"Subject","date":"",primary_label:"$!sub.getIdentifier($om.getId())"}'>$displayManager.getSingularDisplayNameForSubject(): $!sub.getIdentifier($om.getId(),false)
                            <ul>
                                #foreach($expt in $sub.getExperiments_experiment())
                                    <li yuiConfig='{"type":"TaskNode","ru":"/REST/projects/$om.getId()/subjects/$sub.getId()/experiments/$expt.getId()" #if($expt.canRead($user)),"canRead":true#else,"canRead":false#end,"xsiType":"$!expt.getItem().getProperName()","date":"$!expt.getDate()",primary_label:"$!expt.getIdentifier($om.getId())"}'>$!expt.getItem().getProperName(): $!expt.getDate() $expt.getIdentifier($om.getId()) $!expt.getType() $!expt.getSessionType()
                                        <ul>
                                            #foreach($assess in $expt.getAssessors_assessor())
                                                <li yuiConfig='{"type":"TaskNode","ru":"/REST/projects/$om.getId()/subjects/$sub.getId()/experiments/$expt.getId()/assessors/$assess.getId()" #if($assess.canRead($user)),"canRead":true#else,"canRead":false#end,"xsiType":"$!assess.getItem().getProperName()","date":"$!assess.getDate()",primary_label:"$!assess.getIdentifier($om.getId())"}'>$!assess.getItem().getProperName(): $!assess.getDate() $!assess.getIdentifier($om.getId()) $!assess.getType() $!assess.getSessionType()


                                                </li>
                                            #end
                                        </ul>
                                    </li>
                                #end
                            </ul>
                        </li>
                    #end
                </ul>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="$content.getURI("scripts/yui/build/treeview/taskNode.js")"></script>
    <script type="text/javascript" src="$content.getURI("scripts/BasePopup.js")"></script>
    <script type="text/javascript" src="$content.getURI("scripts/restDeleter.js")"></script>
    <style type="text/css">
        #projectDeleteTree {
            border: 1px solid #e0e0e0;
            margin: 1em 0;
            padding: 1em;
        }
        .icon-of { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/of.gif")) no-repeat;}
        .icon-f { display:block; font-size:11px; height: 17px; padding-left: 4px;}
        .icon-cf { display:block; height: 19px; padding-left: 20px; background: transparent url($content.getURI("scripts/yui/build/treeview/assets/img/folders/cf.gif")) no-repeat;}
        .ygtvcheck0 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check0.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
        .ygtvcheck1 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check1.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
        .ygtvcheck2 { background: url($content.getURI("scripts/yui/build/treeview/assets/img/check/check2.gif")) 0 0 no-repeat; width:16px; cursor:pointer }
    </style>
    <script type="text/javascript">
        var pTree = document.getElementById("projectDeleteTree");
        window.pdTree = new YAHOO.widget.TaskTreeView(pTree);
        window.pdTree.draw();

        function deleteEntries() {
            var _a = window.pdTree.getCheckedNodes();
            if (_a.length == 0) {
                xmodal.message('Delete Action', 'Please select at least one item to delete.');
            } else {
                var removeFiles = document.getElementById("removeFiles");
                if (removeFiles.checked) {
                    xmodal.confirm({
                        content: "Submission will cause the permanent deletion of all meta-data and physical files for the selected items.",
                        okAction: function() {
                            doDelete(_a);
                        }
                    });
                } else {
                    xmodal.confirm({
                        content: "If you don't delete the project's associated files from the file system, the files may later be accessible if someone creates a project with the same ID as the project you're deleting. Please confirm that you want to leave the files on the physical file system after deleting the project meta-data.",
                        okAction: function() {
                            doDelete(_a);
                        }
                    });
                }
            }
        }

        function doDelete(raw) {
            var _items = new Array();
            for (var cnAC = 0; cnAC < raw.length; cnAC++) {
                var tO = raw[cnAC].data;
                tO.label = raw[cnAC].label;
                _items.push(tO);
            }
            window.deleter = new RestDeleter(_items, {defaultHeight: 450, defaultWidth: 600});
            window.deleter.init();
        }
    </script>

    <p><label><input type="checkbox" value="true" name="removeFiles" id="removeFiles" checked defaultchecked/> Remove Files from File System</label></p>
    <table>
        <tr>
            <td>&nbsp;</td>
        </tr>
        #auditBoxes("" "" "" "Removed Project")
        <tr>
            <td>
                <input type="hidden" name="project" value="$om.getId()"/>
                <input type="button" name="eventSubmit_doPerform" value="Delete" onclick="deleteEntries();" class="btn primary"/>
                <a href="$content.getURI("/data/projects/${om.getId()}?format=html")"><input type="button" name="cancel" value="Cancel"></a>
            </td>
        </tr>
    </table>
</form>